<button type="button" nglButton="neutral" (click)="open()">Open modal</button>
<button type="button" nglButton="neutral" (click)="open('large')">Open large</button>

<ngl-modal header="Modal Header" [(open)]="opened" [size]="size">
  <div body>
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Tempor cupidatat consequat elit dolor adipisicing.</p>
    <p>Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia.</p>
    <p>Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.</p>
  </div>
  <button class="slds-button slds-button--neutral" (click)="cancel()">Cancel</button>
  <button class="slds-button slds-button--neutral slds-button--brand">Save</button>
</ngl-modal>
