<button type="button" nglButton="neutral" (click)="open()">Open modal</button>
<button type="button" nglButton="neutral" (click)="open('large')">Open large</button>

<ngl-modal [header]="noHeader ? '' : 'Modal Header'" [(open)]="opened" [size]="size" [directional]="directional">
  <div body>
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Tempor cupidatat consequat elit dolor adipisicing.</p>
    <p>Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia.</p>
    <p>Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.</p>
  </div>
  <template ngl-modal-footer *ngIf="!noFooter">
    <button class="slds-button slds-button--neutral" (click)="cancel()">Cancel</button>
    <button class="slds-button slds-button--brand">Save</button>
  </template>
</ngl-modal>

<ngl-form-checkbox label="Empty header" class="slds-m-top--small">
  <input nglFormControl type="checkbox" [(ngModel)]="noHeader" />
</ngl-form-checkbox>
<ngl-form-checkbox label="Empty footer" class="slds-m-top--small">
  <input nglFormControl type="checkbox" [(ngModel)]="noFooter" />
</ngl-form-checkbox>
<ngl-form-checkbox label="Directional footer" class="slds-m-top--small">
  <input nglFormControl type="checkbox" [(ngModel)]="directional" [disabled]="noFooter" />
</ngl-form-checkbox>
