<template #tip>
  <div class="slds-text-title--caps"><strong>{{ placement }}</strong> placement. Initially open!</div>
  Dolor sit amet, <i>consectetur adipisicing</i> elit. Cum, quaerat?
</template>
<template #tip2>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.</template>

<div>
  Quisque scelerisque lectus vel sodales semper.
  Sed <a [nglPopover]="tip" [nglPopoverPlacement]="placement" [nglOpen]="open" (mouseenter)="open = true" (mouseleave)="open = false">hover</a>  vehicula sapien,
  vitae tristique <a tabindex="0" [nglPopover]="tip2" nglPopoverBehavior>behavior</a> nisl viverra vitae. Aliquam erat volutpat. Ut accumsan metus vel hendrerit sagittis.
</div>
<div class="slds-m-top--x-large">
  <button type="button" nglButton="neutral" [nglPopover]="tip2" nglPopoverTheme="success" [nglOpen]="open2" (click)="open2 = !open2">Click me</button>
  <button type="button" nglButton="neutral" [nglPopover]="tip2" nglPopoverTheme="warning" [nglOpen]="open3" (click)="open3 = !open3">...and me!</button>
</div>
<div class="slds-m-top--x-large"><span nglPopover="...which always keep showing!" nglOpen="true" nglPopoverPlacement="right" nglTooltip>You can also make tooltips</span></div>

<div class="slds-button-group slds-m-top--xx-large" role="group">
  <button type="button" (click)="change('top')" nglButton="neutral">Top</button>
  <button type="button" (click)="change('left')" nglButton="neutral">Left</button>
  <button type="button" (click)="change('right')" nglButton="neutral">Right</button>
  <button type="button" (click)="change('bottom')" nglButton="neutral">Bottom</button>
  <button type="button" (click)="open = !open"  nglButton="neutral">Toggle</button>
</div>

<div class="slds-text-title--caps slds-m-bottom--small slds-m-top--x-large">Open and close with delay</div>
<a tabindex="0" nglPopover="I open and close with 1 second delay..." nglPopoverBehavior nglTooltip nglPopoverDelay="1000" #x="nglPopover">Hover me!</a>

<div class="slds-m-top--medium">
  <button type="button" nglButton="neutral" (click)="x.open(0)">Open immediately</button>
  <button type="button" nglButton="neutral" (click)="x.close(0)">Close immediately</button>
</div>
