<ngl-popover #tip>
  <div class="slds-text-heading--label"><strong>{{ placement }}</strong> placement. Initially open!</div>
  Dolor sit amet, <i>consectetur adipisicing</i> elit. Cum, quaerat?
</ngl-popover>
<ngl-popover #tipsuccess theme="success">Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.</ngl-popover>
<ngl-popover #tooltip class="slds-popover--tooltip">...which always keep showing!</ngl-popover>

<div>
  Quisque scelerisque lectus vel sodales semper.
  Sed <a [nglPopoverTrigger]="tip" [nglPlacement]="placement" [nglOpen]="open" (mouseenter)="open = true" (mouseleave)="open = false">hover</a>  vehicula sapien,
  vitae tristique nisl viverra vitae. Aliquam erat volutpat. Ut accumsan metus vel hendrerit sagittis.
</div>
<div class="slds-m-top--x-large"><button type="button" nglButton="neutral" [nglPopoverTrigger]="tipsuccess" [nglOpen]="open2" (click)="open2 = !open2" (mouseleave)="open2 = false">Click me!</button></div>
<div class="slds-m-top--x-large"><span [nglPopoverTrigger]="tooltip" nglOpen="true" nglPlacement="right">You can also make tooltips</span></div>

<div class="slds-button-group slds-m-top--xx-large" role="group">
  <button type="button" (click)="change('top')" nglButton="neutral">Top</button>
  <button type="button" (click)="change('left')" nglButton="neutral">Left</button>
  <button type="button" (click)="change('right')" nglButton="neutral">Right</button>
  <button type="button" (click)="change('bottom')" nglButton="neutral">Bottom</button>
  <button type="button" (click)="open = !open"  nglButton="neutral">Toggle</button>
</div>
