<div class="slds-grid">
  <div class="slds-col">
    <div class="slds-text-title--caps slds-m-bottom--x-small">Utility</div>
    <ngl-icon icon="connected_apps" type="default"></ngl-icon>
    <ngl-icon icon="warning" type="warning" alt="Warning"></ngl-icon>
    <ngl-icon icon="close" type="error"></ngl-icon>
  </div>
  <div class="slds-col">
    <div class="slds-text-title--caps slds-m-bottom--x-small">Standard</div>
    <ngl-icon icon="answer_public" category="standard"></ngl-icon>
    <ngl-icon icon="investment_account" category="standard" type="default"></ngl-icon>
    <ngl-icon icon="avatar" category="standard"></ngl-icon>
  </div>
</div>
<div class="slds-grid slds-m-top--large">
  <div class="slds-col">
    <div class="slds-text-title--caps slds-m-bottom--x-small">Doctype</div>
    <ngl-icon icon="image" category="doctype" size="large"></ngl-icon>
    <ngl-icon icon="link" category="doctype"></ngl-icon>
    <ngl-icon icon="html" category="doctype" size="small"></ngl-icon>
  </div>
  <div class="slds-col">
    <div class="slds-text-title--caps slds-m-bottom--x-small">Action</div>
    <ngl-icon icon="web_link" category="action" class="slds-icon_container--circle"></ngl-icon>
    <ngl-icon icon="download" category="action" size="large" svgClass="slds-p-around--x-small"></ngl-icon>
  </div>
</div>
<div class="slds-grid slds-m-top--large">
  <div class="slds-col">
    <div class="slds-text-title--caps slds-m-bottom--x-small">Custom</div>
    <ngl-icon icon="1" category="custom"></ngl-icon>
    <ngl-icon icon="10" category="custom"></ngl-icon>
    <ngl-icon icon="13" category="custom"></ngl-icon>
    <ngl-icon icon="14" category="custom"></ngl-icon>
  </div>
</div>

<div class="slds-grid slds-m-top--large" style="height: 50px;">
 <div class="slds-align-middle slds-col">
   <button type="button" nglButton="neutral" (click)="change()">Change</button>
   <ngl-icon [icon]="icon.icon" [size]="icon.size" [category]="icon.category" [type]="icon.type"></ngl-icon>
 </div>
</div>
