ng-content
span([ngClass]="'slds-' + contentEl?.type + '--faux'")
  span(*ngIf="groupAlt", [nglInternalOutlet]="_label")
span.slds-form-element__label(*ngIf="!groupAlt", [nglInternalOutlet]="_label")
