legend.slds-form-element__label
  abbr.slds-required(*ngIf="required", title="required") *
  span([nglInternalOutlet]="_label")
.slds-form-element__control
  block control
    ng-content
.slds-form-element__help(*ngIf="error") {{error}}
