.slds-tree__item
  button.slds-button.slds-button--icon-bare.slds-m-right--x-small.slds-is-disabled(disabled)
    svg.slds-button__icon.slds-button__icon--small(aria-hidden="true")
      use(xlink:href="assets/icons/utility-sprite/svg/symbols.svg#chevronright")
  ng-content(select="[nglTreeHeading]")
