<div class="slds-text-heading--label slds-m-bottom--small">Static results</div>
<ngl-lookup [lookup]="lookup" [(pick)]="superhero" debounce="0" placeholder="Hint: type `man` or `r`">
  <span nglLookupLabel>Who is your favorite superhero?</span>
</ngl-lookup>
<div *ngIf="superhero" class="slds-m-top--small">My favorite superhero is <b>{{superhero}}</b></div>

<div class="slds-text-heading--label slds-m-top--x-large slds-m-bottom--small">Asynchronous object results</div>
<button type="button" nglButton="neutral" (click)="value='Athens'" class="slds-m-bottom--large">Search for: Athens</button>
<button type="button" nglButton="destructive" (click)="address = null" class="slds-m-bottom--large" [disabled]="!address">Clear</button>
<ngl-lookup [(value)]="value" [lookup]="lookupAsync" field="formatted_address" [(pick)]="address">
  <span nglLookupLabel>Type an address:</span>
</ngl-lookup>
<div *ngIf="address" class="slds-m-top--large">Selected address: <b>{{address | json}}</b></div>
