ng-content(select="[nglPillImage]")
ng-content(select="a")
span.slds-pill__label(*ngIf="unlinked")
  ng-content
button.slds-pill__remove(*ngIf="removable", type="button", nglButtonIcon="bare", (click)="remove()")
  ngl-icon(icon="close")
