ng-content(select="[nglPillImage]")
span.slds-pill__label
  ng-content
button.slds-pill__remove(*ngIf="removable", type="button", nglButtonIcon="bare", (click)="remove()")
  ngl-icon-button(icon="close")
