.slds-lookup
  .slds-form-element
    label.slds-form-element__label([attr.for]="inputId")
      ng-content(select="[nglLookupLabel]")
    .slds-form-element__control
      input.slds-input([id]="inputId", type="text", aria-autocomplete="list", role="combobox", 
                       [attr.aria-expanded]="open", aria-activedescendant="",
                       [ngFormControl]="input", (keydown.Esc)="close($event)", [placeholder]="placeholder || ''")

  .slds-lookup__menu([ngClass]="{'slds-hide': !open}", role="listbox")
    ul.slds-lookup__list(role="presentation")
      li.slds-lookup__item(*ngIf="noResults"): a No results found
      li.slds-lookup__item(*ngFor="#item of suggestions$ | async", (click)="handlePick(item)")
        a(role="option") {{resolveLabel(item)}}
