.slds-lookup.slds-form-element(data-select="single", data-scope="single", [class.slds-is-open]="expanded")
  label.slds-form-element__label([attr.for]="inputId")
    ng-content(select="[nglLookupLabel]")
  .slds-form-element__control.slds-input-has-icon.slds-input-has-icon--right
    .slds-pill_container(*ngIf="pick")
      ngl-pill((nglPillRemove)="clear()") {{resolveLabel(pick)}}
    input.slds-input.slds-lookup__search-input(#lookupInput, [id]="inputId", type="text", [ngClass]="{'slds-hide': pick}", aria-autocomplete="list", role="combobox", 
                     [attr.aria-expanded]="expanded", [attr.aria-activedescendant]="optionId(activeIndex)",
                     [ngModel]="inputValue", (ngModelChange)="onInputChange($event)", (keydown.Esc)="close($event)", [placeholder]="placeholder || ''",
                     (keydown.ArrowDown)="moveActive($event, 1)", (keydown.ArrowUp)="moveActive($event, -1)", (keydown.Enter)="pickActive($event)")

  .slds-lookup__menu(*ngIf="expanded", role="listbox")
    ul.slds-lookup__list(role="presentation")
      li(*ngIf="noResults"): .slds-lookup__item--label No results found
      li(*ngFor="let item of suggestions; let i=index", (click)="handlePick(item)", [ngClass]="{'slds-dropdown__item--active': i === activeIndex }")
        a.slds-lookup__item-action([id]="optionId(i)", role="option") {{resolveLabel(item)}}
