<div class="slds-notify_container">
  <ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme--alert-texture">
    <h2>This is an alert! (I will close automatically after 5 seconds if you don't click on the close button)</h2>
  </ngl-notification>
</div>

<ngl-notification type="toast">
  <div class="slds-grid">
    <ngl-icon category="action" icon="info" size="small" class="slds-col slds-m-right--small slds-no-flex"></ngl-icon>
    <div class="slds-col slds-align-middle">This is a toast with an icon next to its message.</div>
  </div>
</ngl-notification>

<button type="button" [disabled]="showAlert" nglButton="destructive" class="slds-m-top--large" (click)="show()">Show alert</button>
