<div class="slds-text-heading--label slds-m-bottom--small">Dropdown</div>
<span nglDropdown [(open)]="open">
  <button class="slds-button slds-button--neutral" nglDropdownTrigger>
    <span class="slds-truncate">Select an item</span>
    <ngl-icon icon="down" size="x-small"></ngl-icon>
  </button>
  <div class="slds-dropdown slds-dropdown--left">
    <ul class="dropdown__list" role="menu">
      <li class="slds-dropdown__item" *ngFor="let item of items;" nglDropdownItem>
        <a role="menuitem" (click)="selected = item.value; open = false;">
          <p class="slds-truncate">{{item.value}}</p>
          <ngl-icon [icon]="item.icon" size="x-small"></ngl-icon>
        </a>
      </li>
    </ul>
  </div>
</span>

<button type="button" nglButton="neutral" (click)="onToggle($event)">Open</button>
<button type="button" nglButton="neutral" style="margin-left: 0px;" (click)="open = !open">Toggle</button>

<div *ngIf="selected" class="slds-m-top--large">You selected: <b>{{selected}}</b></div>


<div class="slds-text-heading--label slds-m-bottom--small slds-m-top--x-large">Picklist Multi select</div>
<span nglDropdown [(open)]="open2" [(nglPick)]="picks" nglPickMultiple>
  <button class="slds-button slds-button--neutral" nglDropdownTrigger>
    <span class="slds-truncate">{{picks.length ? picks.length + ' options selected' : 'Select an Option'}}</span>
    <ngl-icon icon="down" size="x-small"></ngl-icon>
  </button>
  <div class="slds-dropdown slds-dropdown--left slds-p-top--none">
    <input id="text-input-01" class="slds-input" type="text" placeholder="Filter options" nglDropdownFilter />
    <ul class="dropdown__list" role="menu">
      <li class="slds-dropdown__item" *ngFor="let item of items;" [nglPickOption]="item" nglPickActiveClass="slds-is-selected" nglDropdownItem>
        <a role="menuitem">
          <p class="slds-truncate">
            <ngl-icon icon="check" size="x-small" svgClass="slds-icon--selected slds-m-right--small"></ngl-icon>
            {{item.value}}
          </p>
        </a>
      </li>
    </ul>
  </div>
</span>
