label.slds-form-element__label([attr.for]="uid")
  abbr.slds-required(*ngIf="required", title="required") *
  span([nglInternalOutlet]="_label")
.slds-form-element__control
  ng-content
.slds-form-element__help(*ngIf="error", [id]="'error_' + uid") {{error}}
