doctype html
html
  head
    title ng-lightning
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://unpkg.com/@salesforce-ux/design-system@#{pkg.devDependencies['@salesforce-ux/design-system']}/assets/styles/salesforce-lightning-design-system.min.css")
    link(rel="stylesheet", href="styles.css")

    // 1. Load libraries
    // Polyfill(s) for older browsers
    script(src="https://unpkg.com/core-js/client/shim.min.js")
    script(src="https://unpkg.com/zone.js@0.6.23?main=browser")
    script(src="https://unpkg.com/systemjs@0.19.27/dist/system.src.js")
      
    // Polyfills for IE
    script(type="text/javascript").
      var isIE11 = window.navigator.userAgent.indexOf('Trident/') > 0;
      if (isIE11) {
        System.import('https://unpkg.com/classlist.js');
        System.import('https://unpkg.com/svg4everybody').then(function(){ svg4everybody(); });
      }


    // 2. Configure SystemJS
    script(src="systemjs.config.js")

    - var url = production ? 'https://unpkg.com/ng-lightning@' + pkg.version + '/ng-lightning.bundle.js' : 'ng-lightning.js';
    script(src="#{url}")

    script.
      System.import('app').catch(function(err){ console.error(err); });

  // 3. Display the application
  body
    my-app Loading...
