<div class="slds-form-element slds-m-bottom--small">
  <div class="slds-form-element__control">
    <label class="slds-checkbox">
      <input type="checkbox" [(ngModel)]="required" />
      <span class="slds-checkbox--faux"></span>
      <span class="slds-form-element__label">Required</span>
    </label>
    <label class="slds-checkbox">
      <input type="checkbox" [(ngModel)]="hasError" />
      <span class="slds-checkbox--faux"></span>
      <span class="slds-form-element__label">Error</span>
    </label>
  </div>
</div>

<ngl-form-element label="Input Label" [error]="hasError ? error : null">
  <input type="text" placeholder="My input" [required]="required">
</ngl-form-element>

<ngl-form-element label="Textarea Label" [error]="hasError ? error : null" class="slds-m-top--small">
  <textarea placeholder="Placeholder Text" [required]="required"></textarea>
</ngl-form-element>
