<ngl-form-element nglFormLabel="Required" style="display: inline-block;">
  <input type="checkbox" [(ngModel)]="required" />
</ngl-form-element>
<ngl-form-element nglFormLabel="Error" style="display: inline-block;">
  <input type="checkbox" [(ngModel)]="hasError" />
</ngl-form-element>

<ngl-form-element nglFormLabel="Input Label" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <input type="text" placeholder="My input" [required]="required">
</ngl-form-element>

<ngl-form-element nglFormLabel="Textarea Label" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <textarea placeholder="Placeholder Text" [required]="required"></textarea>
</ngl-form-element>

<ngl-form-element nglFormLabel="Select Label" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <select class="slds-select" [required]="required">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
  </select>
</ngl-form-element>

<ngl-form-element nglFormLabel="Checkbox Label" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <input type="checkbox" [required]="required" />
</ngl-form-element>

<fieldset ngl-form-group nglFormLabel="Radio Group Label" [nglFormRequired]="required" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <label ngl-form-group-element nglFormLabel="Radio Label One"><input type="radio" /></label>
  <label ngl-form-group-element nglFormLabel="Radio Label Two"><input type="radio" /></label>
</fieldset>

<fieldset ngl-form-group-alt nglFormLabel="Alternate Radio Group" [nglFormRequired]="required" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <label ngl-form-group-element *ngFor="let day of days" [nglFormLabel]="day"><input type="radio" /></label>
</fieldset>

<fieldset ngl-form-group nglFormLabel="Checkbox Group Label" [nglFormRequired]="required" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <label ngl-form-group-element nglFormLabel="Checkbox Label One"><input type="checkbox" /></label>
  <label ngl-form-group-element nglFormLabel="Checkbox Label Two"><input type="checkbox" /></label>
</fieldset>

<fieldset ngl-form-group-alt nglFormLabel="Alternate Checkbox Group" [nglFormRequired]="required" [nglFormError]="hasError ? error : null" class="slds-m-top--small">
  <label ngl-form-group-element *ngFor="let day of days" [nglFormLabel]="day"><input type="checkbox" /></label>
</fieldset>
