.slds-picklist(nglDropdown, [open]="open", (openChange)="openChange.emit($event)", [ngClass]="{'slds-picklist--fluid': fluid}", (click)="focusFilter()")
  button.slds-button.slds-button--neutral.slds-picklist__label(nglDropdownTrigger, [disabled]="disabled")
    ng-content
    ngl-icon(icon="down", size="x-small")
  .slds-dropdown.slds-dropdown--left([ngClass]="{ 'slds-p-top--none': hasFilter }")
    input.slds-input(*ngIf="hasFilter", type="text", [placeholder]="_filterPlaceholder", [(ngModel)]="filter", #nglPicklistFilter, (keydown.enter)="filterPick()")
    ul.dropdown__list(role="menu", [ngClass]="dropdownListClass")
      li.slds-dropdown__item(*ngFor="let item of filteredData;", nglDropdownItem, [nglPickOption]="item", nglPickActiveClass="slds-is-selected",
        [ngClass]="{ 'slds-is-active': _focusedItem?.pick?.value === item }")
        a(role="menuitem")
          p.slds-truncate
            ngl-icon(icon="check", size="x-small", svgClass="slds-icon--selected slds-m-right--small")
            template([ngTemplateOutlet]="itemTemplate?.templateRef", [ngOutletContext]="{$implicit: item}")
