<ngl-tabs [(selected)]="selectedTab" [type]="type">
  <template ngl-tab heading="Overview">
    You have {{details.length}} details.
  </template>
  <ngl-tab *ngFor="let detail of details" (onActivate)="tabChange(detail, 'active')" (onDeactivate)="tabChange(detail, 'inactive')">
    <template ngl-tab-heading>Detail <i>{{ detail }}</i></template>
    <template ngl-tab-content>
      <p>Some detail text for <b>{{detail}}</b>.</p>
      <button type="button" nglButton="destructive" (click)="removeDetail(detail)">Remove</button>
    </template>
  </ngl-tab>
  <template #heading>Summary</template>
  <template ngl-tab nglTabId="sum" #summaryTab="nglTab" [heading]="heading">
    Next last ID is {{id}}.
  </template>
</ngl-tabs>

<div class="slds-m-top--large">
  <button type="button" nglButton="brand" (click)="addDetail()">Add Detail</button>
  <button type="button" nglButton="neutral" (click)="change()">Toggle scope</button>
  <button type="button" nglButton="neutral" (click)="selectedTab = summaryTab" [disabled]="isDisabled()">Show Summary</button>
</div>
