<div class="slds-text-heading--label slds-m-bottom--small">Pill examples</div>

<a href="javascript:void(0)" nglPill>Default</a>
<a href="javascript:void(0)" nglPill>
  <ngl-icon category="standard" icon="feedback" nglPillImage></ngl-icon> With icon
</a>
<a href="javascript:void(0)" nglPill>
  <ngl-avatar nglPillImage type="circle" src="assets/images/avatar2.jpg"></ngl-avatar> With portrait
</a>
<span nglPill removable="false">Unlinked</span>


<div class="slds-text-heading--label slds-m-bottom--small slds-m-top--x-large">Removable pills</div>
<button type="button" nglButton="brand" (click)="add()">Add</button>
<div class="slds-clearfix slds-p-vertical--xx-small"></div>

<a href="javascript:void(0)" *ngFor="#pill of pills" nglPill (nglPillRemove)="remove(pill)">
  <ngl-icon category="standard" icon="account" nglPillImage></ngl-icon> {{pill}}
</a>
