thead
  tr.slds-text-heading--label
    th(*ngFor="let col of columns; trackBy:columnTrackBy", ngl-internal-datatatable-head,
       [heading]="col.heading", [sortable]="col.sortable", [sortOrder]="getColumnSortOrder(col)", (onSort)="onColumnSort(col, $event)")

tbody
  tr(*ngFor="let d of data; let i = index; trackBy:dataTrackBy")
    td(*ngFor="let col of columns; trackBy:columnTrackBy", ngl-internal-datatatable-cell, [row]="d", [column]="col", [index]="i")
