form(action="https://plnkr.co/edit/?p=preview", method="POST", target="_blank", rel="noopener noreferrer")
  input(type="hidden", name="files[index.html]", [value]="index()")
  input(type="hidden", name="files[systemjs.config.js]", [value]="systemjs()")
  input(type="hidden", name="files[app/demo.html]", [value]="html()")
  input(type="hidden", name="files[app/demo.ts]", [value]="ts()")
  input(type="hidden", name="files[app/main.ts]", [value]="raw('app/main.ts')")
  input(type="hidden", name="files[app/module.ts]", [value]="raw('app/module.ts')")
  if (!production)
    input(type="hidden", name="files[ng-lightning.umd.js]", [value]="lib()")
  input(type="hidden", name="files[styles.css]", value="body { padding: 20px; }")
