mixin container(isDefault)
  - var condition = isDefault ? '!' : '';
  span(*ngIf="#{condition}iconTemplate")
    .slds-show--inline-block(*ngFor="let r of range; let i = index", (click)="update(r)", (mouseenter)="enter(r)")
      block


+container(true)
  svg.slds-icon([nglIcon]="icon", [ngClass]="size ? 'slds-icon--' + size : ''", [style.fill]="r <= currentRate ? colorOn : colorOff")

+container(false)
  template([ngTemplateOutlet]="iconTemplate.templateRef", [ngOutletContext]="{$implicit: r <= currentRate, index: i}")
