mixin container(isDefault)
  - var condition = isDefault ? '!' : '';
  span(*ngIf="#{condition}iconTemplate")
    .slds-show--inline-block(*ngFor="let r of range; let i = index", (click)="update(r)", (mouseenter)="enter(r)", style="position: relative;")
      block


+container(true)
  svg.slds-icon(*ngIf="r <= iconsOnCount", [nglIcon]="icon", [ngClass]="size ? 'slds-icon--' + size : ''", [style.fill]="colorOn")
  svg.slds-icon(*ngIf="r > iconsOnCount", [nglIcon]="icon", [ngClass]="size ? 'slds-icon--' + size : ''", [style.fill]="colorOff")
  svg.slds-icon(*ngIf="r > iconsOnCount && r <= iconsCount", [nglIcon]="icon", [ngClass]="size ? 'slds-icon--' + size : ''",
    [style.fill]="colorOn", style="position:absolute; bottom:0;", [style.left.%]="xPos(r)", [xPos]="-xPos(r) + '%'")

+container(false)
  template([ngTemplateOutlet]="iconTemplate.templateRef", [ngOutletContext]="{$implicit: r <= currentRate, index: i}")
